@import url(https://fonts.googleapis.com/css?family=Sigmar+One);
@import url(https://fonts.googleapis.com/css?family=Montserrat:200);
.albumes2 {
  text-align: center;
}

.row1 {
  display: flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}

.container6 {
  width: auto;
}

.dicospar {
  width: 400px;
  height: 400px;
  /* center content using flex box */
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  /* overlay */
  box-shadow: 0 0 0 200px inset, 0 0 5px grey;
  /* hover out transition */
  transition: box-shadow 1s;
  margin: 10px;
}
.dicospar:after {
  width: 80%;
  height: 80%;
  white-space: pre;
  font: 15pt "Cambria";
  color: white;
  border: 2px solid;
  text-align: center;
  /* center content using flex box */
  display: flex;
  justify-content: center;
  align-items: center;
  /* hover out transition */
  transition: opacity 1s 0.5s;
}
.dicospar:hover {
  box-shadow: 0 0 0 5px inset, 0 0 5px grey, 0 0 10px grey inset;
  transition: box-shadow 1s;
}
.dicospar:hover::after {
  opacity: 0;
  transition: opacity 0.5s;
}

#awkif {
  background-image: url(../img/allweknowisfalling-frontal.jpg);
  color: rgba(36, 109, 70, 0.9);
  background-size: 100%;
}
#awkif:after {
  content: "All We Know Is Falling";
}

#riot {
  background-image: url(../img/riot-frontal.jpg);
  color: rgba(255, 71, 71, 0.966);
  background-size: 100%;
}
#riot:after {
  content: "Riot!";
}

#tfr {
  background-image: url(../img/The_Final_Riot_-Frontal.jpg);
  color: rgba(31, 29, 29, 0.966);
  background-size: 100%;
}
#tfr:after {
  content: "The Final Riot!";
}

#bne {
  background-image: url(../img/brandneweyes-frontal.jpg);
  color: rgba(233, 146, 15, 0.9);
  background-size: 100%;
}
#bne:after {
  content: "Brand New Eyes";
}

#pst {
  background-image: url(../img/Paramore-Frontal.jpg);
  color: rgba(0, 2, 122, 0.9);
  background-size: 100%;
}
#pst:after {
  content: "Paramore Self-Titled";
}

#al {
  background-image: url(../img/AfterLaughter-Frontal.jpg);
  color: rgba(203, 82, 228, 0.9);
  background-size: 100%;
}
#al:after {
  content: "After Laughter";
}

.container3 {
  flex-wrap: nowrap;
  justify-content: center;
  text-align: center;
}

.snip1577 {
  font-family: "Montserrat", Arial, sans-serif;
  position: relative;
  display: inline-block;
  overflow: hidden;
  margin: 10px;
  min-width: 230px;
  max-width: 315px;
  width: 100%;
  color: #fff;
  text-align: left;
  font-size: 16px;
  background: #000;
  background-size: 100%;
}
.snip1577 *, .snip1577:before, .snip1577:after {
  box-sizing: border-box;
  transition: all 0.4s ease;
}
.snip1577 img {
  max-width: 100%;
  backface-visibility: hidden;
  vertical-align: top;
}
.snip1577:before, .snip1577:after {
  position: absolute;
  top: 20px;
  right: 20px;
  content: "";
  background-color: #fff;
  z-index: 1;
  opacity: 0;
}
.snip1577:before {
  width: 0;
  height: 1px;
}
.snip1577:after {
  height: 0;
  width: 1px;
}
.snip1577 figcaption {
  position: absolute;
  left: 0;
  bottom: 0;
  padding: 15px 20px;
}
.snip1577 h3, .snip1577 h4 {
  margin: 0;
  font-size: 1.1em;
  font-weight: normal;
  opacity: 0;
}
.snip1577 h4 {
  font-size: 0.8em;
  text-transform: uppercase;
}
.snip1577 a {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 1;
}
.snip1577:hover img,
.snip1577 .hover img {
  zoom: 1;
  filter: alpha(opacity=20);
  -webkit-opacity: 0.2;
  opacity: 0.2;
}
.snip1577:hover:before, .snip1577.hover:before, .snip1577:hover:after, .snip1577.hover:after {
  opacity: 1;
  -webkit-transition-delay: 0.25s;
  transition-delay: 0.25s;
}
.snip1577:hover:before, .snip1577.hover:before {
  width: 40px;
}
.snip1577:hover:after, .snip1577.hover:after {
  height: 40px;
}
.snip1577:hover h3, .snip1577.hover h3, .snip1577:hover h4, .snip1577.hover h4 {
  opacity: 1;
}
.snip1577:hover h3, .snip1577.hover h3 {
  transition-delay: 0.3s;
}
.snip1577:hover h4, .snip1577.hover h4 {
  transition-delay: 0.3s;
}

.description {
  color: whitesmoke;
}

.separator {
  height: 150px;
}

.menu1 {
  background-color: transparent;
  z-index: 1000;
}

.titulo1 {
  color: #E12B81;
  text-decoration: underline;
}

.menubar {
  background-color: black;
}

.paramore-log {
  height: 50px;
  width: 50px;
}

.letrasmenu {
  font-size: 20px;
}

.member1 {
  border-color: transparent;
}

.row .column {
  padding: 0 8px;
}

.row:after {
  content: "";
  display: table;
  clear: both;
}

/* Create four equal columns that floats next to eachother */
.column {
  float: left;
  width: 25%;
}

/* The Modal (background) */
.modal {
  display: none;
  position: fixed;
  z-index: 1;
  padding-top: 100px;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: black;
}

/* Modal Content */
.modal-content {
  position: relative;
  background-color: #fefefe;
  margin: auto;
  padding: 0;
  width: 90%;
  max-width: 1200px;
}

/* The Close Button */
.close {
  color: white;
  position: absolute;
  top: 10px;
  right: 25px;
  font-size: 35px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: #999;
  text-decoration: none;
  cursor: pointer;
}

/* Hide the slides by default */
.mySlides {
  display: none;
}

/* Next & previous buttons */
.prev,
.next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  padding: 16px;
  margin-top: -50px;
  color: white;
  font-weight: bold;
  font-size: 20px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
  -webkit-user-select: none;
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover,
.next:hover {
  background-color: rgba(0, 0, 0, 0.8);
}

/* Number text (1/3 etc) */
.numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}

/* Caption text */
.caption-container {
  text-align: center;
  background-color: black;
  padding: 2px 16px;
  color: white;
}

img.demo {
  opacity: 0.6;
}

.active,
.demo:hover {
  opacity: 1;
}

img.hover-shadow {
  transition: 0.3s;
}

.hover-shadow:hover {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.btn1 {
  border-color: #E12B81;
  background-color: transparent;
  color: #E12B81;
}
.btn1:hover {
  color: white;
  background-color: #E12B81;
}

.btn2 {
  color: #f199a7;
}
.btn2 .btn2:hover {
  color: whitesmoke;
}

@media only screen and (min-width: 768px) {
  .parmenu1 {
    display: none;
  }

  .members1 {
    display: none;
  }

  .container4 {
    width: 90% !important;
    height: 700px !important;
  }
}
@media only screen and (max-width: 768px) {
  body {
    background-image: url(../img/background2.jpg) !important;
    background-position: center !important;
    background-repeat: no-repeat !important;
    background-size: auto !important;
  }

  .parmenu2 {
    display: none;
  }

  .dicospar {
    width: 300px;
    height: 300px;
    display: flex;
  }

  .form1 {
    width: 90% !important;
    height: 400px;
  }

  .container4 {
    height: 500px;
  }

  .separator {
    height: 50px;
  }

  .title1 {
    font-size: 14px !important;
  }
}
@media only screen and (max-width: 320px) {
  .title1 {
    width: 100% !important;
  }

  .form1 {
    width: 90% !important;
  }
}
@media only screen and (max-width: 550px) {
  .portada {
    background-image: url(../img/portadamovil.jpg) !important;
    background-size: 100% !important;
    background-position: top !important;
  }
}
.contactBody {
  background-color: white;
  background-size: cover;
  background-attachment: fixed;
  height: 700px;
}

.title1 {
  margin: 0 auto;
  width: 80%;
  text-align: center;
  padding-bottom: 10px;
  font-size: 42px;
  color: #1a1212;
}

#title-Tag-Line {
  font-size: 20px;
}

/* This will center the form */
/* form animation starts */
.form1 {
  background: #EBEBEB;
  text-align: center;
  box-shadow: 0px 0px 20px 5px #AAA;
  border-radius: 10px;
  width: 50%;
  height: 500px;
  margin: 30px auto 0 auto;
  padding: 10px 10px;
  animation: bounce 1.5s infinite;
}

.name {
  background-color: #f0862f;
  border-bottom: 5px solid #d87423;
  color: white;
  width: 90%;
}

::-webkit-input-placeholder {
  color: white;
  font-size: 20px;
}

.name:hover {
  background-color: #f0862f;
  border-bottom: 5px solid #d87423;
  height: 40px;
  width: 95%;
}

.email1 {
  background-color: #f0862f;
  border-bottom: 5px solid #d87423;
  height: 50px;
  width: 90%;
  color: white;
}

.email1:hover {
  background-color: #f0862f;
  border-bottom: 5px solid #d87423;
  height: 40px;
  width: 95%;
}

.message {
  background-color: #f0862f;
  border-bottom: 5px solid #d87423;
  overflow: hidden;
  height: 100px;
  width: 90%;
  color: white;
}

.message:hover {
  background-color: #f0862f;
  border-bottom: 5px solid #d87423;
  height: 100px;
  width: 95%;
}

.submit {
  border-radius: 5px;
  padding: 10px;
  background-color: #2DD7BB;
  border: none;
  border-bottom: 5px solid #CB64B2;
  transform: translateY(-120px);
}

.submit:hover {
  border-bottom: 5px solid #CB64B2;
  box-shadow: 15px 15px 15px 5px rgba(78, 72, 77, 0.219);
}

.entry {
  display: block;
  margin: 30px auto;
  padding: 10px;
  border-radius: 5px;
  border: none;
  transition: all 0.5s ease 0s;
  box-shadow: 0px 0px 25px 2px #AAA;
}

/* Shadow to make it look like form is floating  */
.shadow {
  box-shadow: 0px 0px 60px 5px #AAA;
  opacity: 0.5;
  border-radius: 100px;
  width: 50%;
  margin: 50px auto 0 auto;
  padding: 0 20px;
  animation: shadow 1.5s infinite;
}

.submit {
  border-radius: 5px;
  padding: 10px;
  width: 150px;
  color: white;
  background-color: #EE78D1;
  border: none;
  border-bottom: 5px solid #CB64B2;
  margin-top: 150px;
}

@keyframes bounce {
  50% {
    transform: translate(0, 8px);
  }
}
@keyframes shadow {
  50% {
    opacity: 0.8;
    width: 50%;
  }
}
.container4 {
  width: 100%;
  height: 700px;
}

/** code by webdevtrick ( https://webdevtrick.com ) **/
body {
  margin: 0;
  padding: 0;
}

.main {
  max-height: 550px;
  background-color: #292c2f;
  color: white;
  font-size: 38pt;
  text-align: center;
  line-height: 550px;
}

footer {
  bottom: 0;
  margin: 0;
  height: 570px;
}

.footer-distributed {
  background-color: #292c2f;
  box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.12);
  box-sizing: border-box;
  width: 100%;
  text-align: left;
  font: bold 16px sans-serif;
  padding: 55px 50px;
  margin-top: 80px;
}

.footer-distributed .footer-left,
.footer-distributed .footer-center,
.footer-distributed .footer-right {
  display: inline-block;
  vertical-align: top;
}

.footer-distributed .footer-left {
  width: 40%;
}

.footer-distributed h3 {
  color: #ffffff;
  font: normal 36px "Cookie", cursive;
  margin: 0;
}

.footer-distributed h3 span {
  color: #5383d3;
}

.footer-distributed .footer-links {
  color: #ffffff;
  margin: 20px 0 12px;
  padding: 0;
}

.footer-distributed .footer-links a {
  display: inline-block;
  line-height: 1.8;
  text-decoration: none;
  color: inherit;
}

.footer-distributed .footer-company-name {
  color: #8f9296;
  font-size: 14px;
  font-weight: normal;
  margin: 0;
}

.footer-distributed .footer-center {
  width: 35%;
}

.footer-distributed .footer-center i {
  background-color: #33383b;
  color: #ffffff;
  font-size: 25px;
  width: 38px;
  height: 38px;
  border-radius: 50%;
  text-align: center;
  line-height: 42px;
  margin: 10px 15px;
  vertical-align: middle;
}

.footer-distributed .footer-center i.fa-envelope {
  font-size: 17px;
  line-height: 38px;
}

.footer-distributed .footer-center p {
  display: inline-block;
  color: #ffffff;
  vertical-align: middle;
  margin: 0;
}

.footer-distributed .footer-center p span {
  display: block;
  font-weight: normal;
  font-size: 14px;
  line-height: 2;
}

.footer-distributed .footer-center p a {
  color: #5383d3;
  text-decoration: none;
}

.footer-distributed .footer-right {
  width: 20%;
}

.footer-distributed .footer-company-about {
  line-height: 20px;
  color: #92999f;
  font-size: 13px;
  font-weight: normal;
  margin: 0;
}

.footer-distributed .footer-company-about span {
  display: block;
  color: #ffffff;
  font-size: 14px;
  font-weight: bold;
  margin-bottom: 20px;
}

.footer-distributed .footer-icons {
  margin-top: 25px;
}

.footer-distributed .footer-icons a {
  display: inline-block;
  width: 35px;
  height: 35px;
  cursor: pointer;
  background-color: #33383b;
  border-radius: 2px;
  font-size: 20px;
  color: #ffffff;
  text-align: center;
  line-height: 35px;
  margin-right: 3px;
  margin-bottom: 5px;
}

@media (max-width: 880px) {
  .footer-distributed {
    font: bold 14px sans-serif;
  }

  .footer-distributed .footer-left,
.footer-distributed .footer-center,
.footer-distributed .footer-right {
    display: block;
    width: 100%;
    margin-bottom: 40px;
    text-align: center;
  }

  .footer-distributed .footer-center i {
    margin-left: 0;
  }

  .main {
    line-height: normal;
    font-size: auto;
  }

  .footer1 {
    display: none !important;
  }
}
.footer1 {
  background-image: url(../img/footer1v2.png);
  background-size: cover !important;
  height: 55vh;
  width: 90vw;
  background-attachment: scroll !important;
  background-position-y: -130px;
  background-position: top;
}

html {
  scroll-behavior: smooth;
}

body {
  background-image: url(../img/background.gif);
  background-attachment: fixed;
  background-size: 100%;
  background-position: bottom;
}

.portada {
  background-image: url(../img/paramore4v2.png);
  height: 90vh;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
}

@keyframes gradientAnimation {
  0% {
    background-position: 0% 30%, 0 0;
  }
  50% {
    background-position: 100% 70%, 0 0;
  }
  100% {
    background-position: 0% 30%, 0 0;
  }
}

/*# sourceMappingURL=style.css.map */
