@import 'discos.scss';
@import 'integrantes.scss';
@import 'menu1.scss';
@import 'menusticky.scss';
@import 'mediasq.scss';
@import 'contacto.scss';
@import 'piedepagina.scss';
html {
    scroll-behavior: smooth;
    ;
}

body {
    background-image: url(../img/background.gif);
    background-attachment: fixed;
    background-size: 100%;
    background-position: bottom;
    // overflow-x: auto !important;
}

.portada {
    // animation: gradientAnimation 2s ease infinite;
    // background: repeating-linear-gradient(45deg, rgba(212, 28, 53, 0.411), rgba(184, 206, 211, 0.342), rgba(211, 218, 94, 0.432)) 0 0 / 1000% no-repeat, url(../img/paramore4v2.png) 0 0 / cover no-repeat;
    background-image: url(../img/paramore4v2.png);
    height: 90vh;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
}

@keyframes gradientAnimation {
    0% {
        background-position: 0% 30%, 0 0;
    }
    50% {
        background-position: 100% 70%, 0 0;
    }
    100% {
        background-position: 0% 30%, 0 0;
    }
}