@media only screen and(min-width: 768px) {
    .parmenu1 {
        display: none;
    }
    .members1 {
        display: none;
    }
    .container4 {
        width: 90% !important;
        height: 700px !important;
    }
}

@media only screen and(max-width: 768px) {
    body {
        background-image: url(../img/background2.jpg)!important;
        background-position: center !important;
        background-repeat: no-repeat!important;
        background-size: auto !important;
    }
    .parmenu2 {
        display: none;
    }
    .dicospar {
        width: 300px;
        height: 300px;
        display: flex;
    }
    .form1 {
        width: 90% !important;
        height: 400px;
    }
    .container4 {
        height: 500px;
        ;
    }
    .separator {
        height: 50px;
    }
    .title1 {
        font-size: 14px !important;
    }
}

@media only screen and(max-width: 320px) {
    .title1 {
        width: 100% !important;
    }
    .form1 {
        width: 90% !important;
    }
}

@media only screen and(max-width: 550px) {
    .portada {
        background-image: url(../img/portadamovil.jpg)!important;
        background-size: 100% !important;
        background-position: top !important;
    }
}